<div class="row">
  <main class="col-md-9 blog-posts">
    <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %> blog-item" itemscope itemprop="blogPost">
      <div class="article-inner">
        <% if (post.link || post.title){ %>
        <header class="article-header">
          <ul class="blog-info">
            <li class="blog-info-item"><%- partial('post/date', {class_name: 'archive-article-date', date_format: 'YYYY.MM.DD'}) %></li>
            <%- post_author_link(post) %>
            <li class="blog-info-item"><%- partial('post/tag') %></li>
            <li class="blog-info-item"><%= get_ga4_pv(post.path) %> View</li>
          </ul>
          </header>
        <% } %>
        <div class="article-entry" itemprop="articleBody">
          <% if (post.excerpt && index){ %>
            <%- post.excerpt %>
            <% if (theme.excerpt_link){ %>
            <p class="article-more-link">
              <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
            </p>
            <% } %>
          <% } else { %>
            <%- post.content %>
          <% } %>
        </div>
        <footer>
          <section class="social-area">
          <%- partial('social-button', {feed:false}) %>
          </section>
          <aside>
            <section class="related-post margin-bottom-40 nav">
              <h2 id="related"><a href="#related" class="headerlink" title="関連記事"></a>関連記事</h2>
              <%- list_related_posts(post) %>
            </section>
            <section class="reference-post margin-bottom-40 nav">
              <%- list_reference_posts(post) %>
            </section>
            <section class="career-counseling article-entry margin-bottom-40 nav">
              <h2 id="career"><a href="#career-counseling" class="headerlink" title="キャリア相談"></a>We're hiring</h2>
              <p>フューチャーで一緒に働く仲間を大募集しています！</p>
              <p>フューチャーで働くうえでのキャリア、会社紹介や事業内容の説明など相談会を実施中です！</p>

              <div class="row article-card">
                <a href="https://open.talentio.com/r/1/c/future/pages/91866" title="フューチャーキャリア相談会 | open.talentio.com" class="col-sm-4 col-md-4 img_wrap">
                  <img src="/career.jpg" class="img-responsive margin-bottom-20" alt="" width="200" height="135" loading="lazy">
                </a>
                <div class="col-sm-8 col-md-8 margin-bottom-40">
                    <a href="https://open.talentio.com/r/1/c/future/pages/91866"><div style="font-weight:bold;">フューチャーキャリア相談会 | open.talentio.com</div></a>
                    <div class="lede">ご希望に応じてフューチャーの会社紹介や事業内容の説明も可能です。</div>
                </div>
              </div>
            </section>
          </aside>
        </footer>
      </div>
    </article>
  </main>
  <aside class="col-md-3 blog-sidebar">
    <%- partial('sidebar') %>
  </aside>
</div>
