    <!-- BEGIN PRE-FOOTER -->
    <footer>
      <div class="pre-footer">
        <div class="container">
          <div class="row">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
              <h2>About Us</h2>
              <p><%- theme.about %></p>
              <p>新卒・キャリア採用は<a href="https://www.future.co.jp/recruite" title="採用ページ" target="_blank" rel="noopener">こちら</a>です。
              ブログ記事以外のお問い合わせについては<a href="https://www.future.co.jp/contact_us/" title="お問い合わせページ" target="_blank" rel="noopener">こちらのフォーム</a>からご依頼ください。</p>
              </p>
              <p>ソーシャルメディアポリシーは<a href="https://www.future.co.jp/architect/socialmediapolicy/" title="メディアポリシー" target="_blank" rel="noopener">こちら</a>です。</p>
            </div>
            <!-- END BOTTOM ABOUT BLOCK -->
            <!-- BEGIN BOTTOM CONTACTS -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
              <h2>Contact</h2>
              <address class="margin-bottom-40">
                <%= theme.address_1 %><%= theme.address_2 %><br>
                <%= theme.address_3 %><br><br>
                Email: <a href="mailto:<%= theme.email %>"><%= theme.email %></a><br>
              </address>
            </div>
              <div class="col-md-4 col-sm-6 pre-footer-col">
                <!-- Twitterフォローボタン -->
                <div class="social-btn twitter-btn twitter-follow-btn">
                  <a href="https://twitter.com/intent/follow?screen_name=future_techblog %>" target="_blank" rel="nofollow noopener">
                    <i></i><span class="tw-btn-label">@future_techblogさんをフォロー</span>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
      <!-- END PRE-FOOTER -->
      <!-- BEGIN FOOTER -->
      <div class="footer">
        <div class="container">
          <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-6 col-sm-6 padding-top-10">
              &copy; <%= date(new Date(), 'YYYY') %> <%= config.title %><br>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->
