<!-- START SIDEBAR  -->
<% if (is_post()) { %>
<section class="toc-section">
  <h2 class="margin-top-30">目次</h2>
  <%- toc(page.content, {list_number:false, max_depth:4}) %>
</section>
<% } %>
<section class="category">
<h2 class="margin-top-30">カテゴリー</h2>
<%- partial('_widget/category.ejs') %>
</section>
<section class="podcast-link">
<h2 class="margin-top-30">Tech Cast</h2>
<%- generate_techcast_post() %>
</section>
<section class="other-blog-link">
<h2 class="margin-top-30">リンク</h2>
<%- partial('_widget/other-blog.ejs') %>
</section>
<section class="advent-calendar">
<h2 class="margin-top-30">アドベントカレンダー</h2>
<%- partial('_widget/advent-calendar.ejs') %>
</section>
<!-- END SIDEBAR -->
