<!-- シェアボタン START -->
  <ul class="social-button">
    <%
       let link = full_url_for(path).replace("index.html", "");
       let title = "";
       if (typeof post != 'undefined') {
           link = post.permalink;
           title = post.title;
       }
       const posts = site.posts;
    %>
    <!-- Twitter -->
    <li>
      <a class="social-btn twitter-btn" href="https://twitter.com/intent/tweet?url=<%- link %>&related=twitterapi%2Ctwitter&text=<%- encodeURI(title + " | フューチャー技術ブログ") %>" rel="nofollow">
        <i></i><span class="social-btn-label"><%= get_tw_count(link) %></span>
      </a>
    </li>
    <!-- Facebook -->
    <li>
      <a class="social-btn fb-btn" href="http://www.facebook.com/share.php?u=<%- link %>&t=<%- encodeURI(title) %>" rel="nofollow">
        <i></i><span class="social-btn-label"><%= get_fb_count(link) %></span>
      </a>
    </li>
    <!-- hatebu -->
    <li>
      <a class="social-btn hatebu-btn" href="https://b.hatena.ne.jp/entry/s/<%- encodeURI(link).replace('https://', '') %>" rel="nofollow">
        <i></i><span class="social-btn-label"><%= get_hatebu_count(link) %></span>
      </a>
    </li>
    <!-- pocket -->
    <li>
      <a class="social-btn pocket-btn" href="https://getpocket.com/save?url=<%- encodeURI(link) %>" rel="nofollow">
        <i></i><span class="social-btn-label"><%= get_pocket_count(link) %></span>
      </a>
    </li>
    <% if (is_home() && feed) { %>
      <li>
        <a class="social-btn feedly-btn" href="https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Ffuture-architect.github.io%2Fatom.xml" rel="nofollow">
          <i></i><span class="social-btn-label"><%= get_feedly_count(link) %></span>
        </a>
      </li>
    <% } %>
  </ul>
<!-- シェアボタン END -->
