<div class="row">
  <main class="col-xs-12 col-sm-12 col-md-10 blog-posts">
  <% if (pagination == 2){ %>
    <% page.posts.each(function(post){ %>
      <%- partial('article', {post: post, index: true}) %>
    <% }) %>
  <% } else { %>
    <section class="archives-wrap">
      <div class="archives">
        <% page.posts.each(function(post, i){ %>
        <%- partial('archive-post', {post: post, even: i % 2 == 0, index: true}) %>
        <% }) %>
      </div>
      <% if (page.posts.length){ %>
      <div id="page-nav" class="pagination">
        <%- paginator({prev_text: 'Prev', next_text: 'Next', end_size: '2'}) %>
      </div>
      <% } %>
    </section>
  <% } %>

    <aside>
      <section>
        <div class="margin-bottom-20 nav">
          <h2>最近の人気記事</h2>
          <div class="widget-wrap">
            <%- popular_posts() %>
          </div>
        </div>
        <div class="margin-bottom-20 nav">
          <h2>注目の記事</h2>
          <%- partial('../_partial/featured-post.ejs', {limit:5}) %>
        </div>
        <div class="blog-tags margin-bottom-20">
          <h2>タグから記事を探す</h2>
          <%- partial('../_widget/tag.ejs') %>
        </div>
      </section>
    </aside>
  </main>
  <aside class="col-xs-12 col-sm-12 col-md-2 blog-sidebar">
    <%- partial('sidebar') %>
  </aside>
</div>
