<div class="row">
  <main class="blog-posts">
    <section class="archives">
      <%
        const trans = (str, path=page.path) => {
        if (path.indexOf(str) > 0) {
          return `<span class="archive-list-current">${str}</span>`;
        }
        return str;
        }
      %>
      <%- list_archives({format: "YYYY", type:"yearly", transform:trans}) %>
      <ul class="article-list">
        <% page.posts.each(function(post, i){ %>
        <li>
          <span class="date"><%= date(post.date, 'YYYY.MM.DD') %></span>
          <span class="count">&#9825;<%= totalSNSCnt(post.permalink) %></span>
          <span class="title"><a href="<%- url_for(post.path) %>" title="<%= post.lede %>"><%= post.title %></a></span>
        </li>
      <% }) %>
    </ul>
  </section>
  </main>
</div>
