<div class="row card">
  <a href="<%- url_for(post.path) %>">
    <div class="col-md-4 col-sm-4">
      <% if (post.thumbnail) { %>
      <img src="<%= post.thumbnail %>" class="img-responsive" alt="" <%= image_size_attribute(post.thumbnail) %> loading="lazy">
      <% } %>
    </div>
  </a>
  <% if (post.thumbnail) { %>
  <div class="col-md-8 col-sm-8">
  <% } else { %>
  <div class="col-xs-12">
  <% } %>
    <%- partial('post/title', {class_name: 'archive-article-title'}) %>
    <ul class="blog-info">
      <li class="blog-info-item"><%- partial('post/date', {class_name: 'archive-article-date', date_format: 'YYYY.MM.DD'}) %></li>
      <li class="blog-info-item"><%- partial('post/tag') %></li>
    </ul>
      <div class="blog-item">
        <a href="/<%- post.path %>" class="lede">
        <% if (index == true){ %>
        <%- post.lede || post.excerpt || post.content %>
        <% } else { %>
        <%- post.lede || post.excerpt %>
        <% } %>
        </a>
      </div>
  </div>
  <div class="col-xs-12 archive-social-button">
  <%- partial('social-button', {post: post, feed:false}) %>
  </div>
</div>
