<div class="row">
  <main class="col-md-9 col-sm-9 blog-posts">
    <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %> blog-item" itemscope itemprop="blogPost">
      <div class="article-inner">
        <% if (post.link || post.title){ %>
        <header class="article-header">
          <ul class="blog-info">
            <li class="blog-info-item"><a href="<%- url_for('/authors/' + post.author || theme.default_author || 'Anonymous') %>"><%- post.author || theme.default_author || 'Anonymous' %></a></li>
            <li class="blog-info-item"><%- partial('post/date', {class_name: 'archive-article-date', date_format: 'YYYY.MM.DD'}) %></li>
            <li class="blog-info-item"><%- partial('post/tag') %></li>
          </ul>
          <%- partial('_partial/post/category') %>
        </header>
        <% } %>
        <div class="article-entry" itemprop="articleBody">
          <% if (post.excerpt && index){ %>
            <%- post.excerpt %>
            <% if (theme.excerpt_link){ %>
            <p class="article-more-link">
              <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
            </p>
            <% } %>
          <% } else { %>
            <%- post.content %>
          <% } %>
        </div>
        <footer>
          <section class="social-area">
          <%- partial('social-button') %>
          </section>
          <aside>
            <section class="related-post margin-bottom-20 nav">
              <h2>関連記事</h2>
              <%- list_related_posts(post) %>
            </section>
            <section class="featured-post margin-bottom-20 nav">
              <h2>注目の記事</h2>
              <%- partial('featured-post', {limit:5}) %>
            </section>
          </aside>
        </footer>
      </div>
    </article>
  </main>
  <aside class="col-md-3 col-sm-3 blog-sidebar">
    <%- partial('sidebar-top') %>
  </aside>
</div>
