<!DOCTYPE html>
<!--[if IE 8]> <html lang="ja" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="ja" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="ja">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <%
    let title = page.title;
    let description = config.description

    if (is_archive()){
      title = 'Archives';
    if (is_month()){
        title += ': ' + page.year + '/' + page.month;
      } else if (is_year()){
        title += ': ' + page.year;
      }
    } else if (is_category()){
      title = page.category + ' の記事一覧';
      description = page.category + ' カテゴリの記事一覧 | '　+ config.description
    } else if (is_tag()){
      title = page.tag + ' の記事一覧';
      description = page.tag + ' タグの記事一覧 | '　+ config.description
    } else if (path.indexOf('authors/' + page.author) >= 0) {
      title = page.author;
      description = page.author + ' が執筆した記事一覧 | '　+ config.description
    }

    if (title) {
      title = title + ' | ' + config.title
    } else {
      title = config.title
    }

  %>
  <title><%= title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <%
  var options = {title:title, description:description, twitter_id:theme.twitter, google_plus:theme.google_plus, fb_admins:theme.fb_admins, fb_app_id:theme.fb_app_id};
  if (page.path == 'index.html'){
    options['image'] = 'metronic/assets/corporate/img/site_logo.jpg';
  }
  if (page.eyecatch != "") {
    options['image'] = page.eyecatch
  }
  %>
  <%- open_graph(options) %>
  <% if (theme.rss){ %>
  <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
  <link rel="icon" href="<%- theme.favicon %>">
  <% } %>

  <meta content="<%= title %>,フューチャーアーキテクト,Future Architect,フューチャー技術ブログ" name="keywords">
  <meta content="Future Architect Consultant" name="author">

  <link rel="stylesheet" href="/metronic/assets/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/metronic/assets/corporate/css/style.css">
  <link rel="stylesheet" href="/css/theme-styles.css">
</head>
