<!-- BEGIN FEATURED POSTS -->
<h3>注目の記事</h3>
<div class="widget-wrap">
  <% var count = 0  %>
  <% (site.posts.reverse()).each(function(post, i){ %>
    <% if (post.featured == true){ %>
      <% if (Math.round(Math.random()*100) < 33) { %>
        <% if (count++ < theme.featured_count){ %>
          <div class="widget">
            <ul class="nav">
              <li>
                <a href="<%- post.permalink %>">
                  <%- post.title %>
                </a>
              </li>
            </ul>
          </div>
        <% } %>
      <% } %>
    <% } %>
  <% }) %>
</div>
<!-- END FEATURED POSTS -->

<!-- CATEGORIES START -->
<h3 class="margin-top-30">カテゴリー</h3>
<%- partial('_widget/category.ejs') %>
<!-- CATEGORIES END -->

<!-- START Blog -->
<div class="margin-bottom-20">
  <h3>リンク</h3>
  <%- partial('_widget/other-blog.ejs') %>
</div>
<!-- END Blog -->


<!-- START ADVENT CALENDAR -->
<div class="margin-bottom-20">
  <h3>アドベントカレンダー</h3>
  <%- partial('_widget/advent-calendar.ejs') %>
</div>
<!-- END ADVENT CALENDAR -->
