<!-- シェアボタン START -->
  <ul class="social-button">
    <% let link = page.permalink
       let title = ""
       if (typeof post != 'undefined') {
           link = post.permalink
           title = post.title
       }
    %>
    <!-- Twitter -->
    <li class="twitter-btn">
      <a href="https://twitter.com/share?url=<%- link %>&via=future_techblog&related=twitterapi%2Ctwitter&text=<%- encodeURI(title) %>"
        onclick="window.open(this.href, 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow">
        <i></i><span class="tw-btn-label">ツイート</span>
      </a>
    </li>
    <!-- Facebook -->
    <li class="social-button-fb" style="width:120px; height:20px">
     <div class="fb-like" data-href="<%- link %>" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </li>
    <!-- はてなブックマーク -->
    <li class="social-button-hatebu" style="width:155px; height:20px">
       <a href="http://b.hatena.ne.jp/entry/<%- link %>" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="はてなブックマークに追加">はてブする</a>
    </li>
    <!-- pocket -->
    <li class="social-button-pocket">
      <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en" data-save-url="<%- link %>"></a>
    </li>
  </ul>
<!-- シェアボタン END -->
