<!-- シェアボタン START -->
  <ul class="social-button">
    <%
       let link = full_url_for(path).replace("index.html", "");
       let title = "";
       if (typeof post != 'undefined') {
           link = post.permalink;
           title = post.title;
       }
       const posts = site.posts;
    %>
    <!-- Twitter -->
    <li class="twitter-btn">
      <a href="https://twitter.com/share?url=<%- link %>&via=future_techblog&related=twitterapi%2Ctwitter&text=<%- encodeURI(title) %>"
        onclick="window.open(this.href, 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow">
        <i></i><span class="tw-btn-label"><%= get_tw_count(link) %></span>
      </a>
    </li>
    <!-- Facebook -->
    <li class="fb-btn">
      <a href="http://www.facebook.com/share.php?u=<%- link %>&t=<%- encodeURI(title) %>"
        onclick="window.open(this.href, 'fbsharewindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow">
        <i></i><span class="fb-btn-label"><%= get_fb_count(link) %></span>
      </a>
    </li>
    <!-- hatebu -->
    <li class="hatebu-btn">
      <a href="https://b.hatena.ne.jp/entry/s/<%- encodeURI(link).replace('https://', '') %>"
        onclick="window.open(this.href, 'hatebuwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow">
        <i></i><span class="hatebu-btn-label"><%= get_hatebu_count(link) %></span>
      </a>
    </li>
    <!-- pocket -->
    <li class="pocket-btn">
      <a href="https://getpocket.com/save?url=<%- encodeURI(link) %>"
        onclick="window.open(this.href, 'pocketwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow">
        <i></i><span class="pocket-btn-label"><%= get_pocket_count(link) %></span>
      </a>
    </li>
  </ul>
<!-- シェアボタン END -->
