<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <% if(is_month()) { %>
    <li><a href="/articles/">Blog</a></li>
    <li class="active"><a href="/articles/<%= page.year %>"><%- page.year %>年</a></li>
    <li class="active"><%- page.month %>月</li>
    <% } else if(is_year()) { %>
    <li><a href="/articles/">Blog</a></li>
    <li class="active"><%- page.year %>年</li>
    <% } else { %>
    <li class="active">Blog</li>
    <% } %>
  </ul>
  <div id="main" class="margin-top-30">
    <% if(is_month()) { %>
    <h1 class="list-page"><%= page.year%>年<%= page.month %>月のすべての記事 <%= count_articles_month(page.year, page.month) %>件</h1>
    <% } else if(is_year()) { %>
    <h1 class="list-page"><%= page.year%><span class="list-sub-text"> 年のすべての記事</span></h1>
    <ul class="summary">
      <li><span class="summary-count">平均<%= ave_posts(page.year) %></span><br><span class="summary-label">投稿/月</span></li>
    </ul>
    <div>
      <div id="chart" style="width:95%;min-height:250px"></div>
      <script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts.min.js" integrity="sha384-QqZssazD9IzPiEJz2lyFewTMgYObqDWxBfCX5k5E4n4fH7ygMIqp6A6Ek8HIrRyQ" crossorigin="anonymous"></script>
      <script type="text/javascript">
        let myChart = echarts.init(document.getElementById('chart'));
        let option = {
          tooltip: {
              trigger: 'axis'
          },
          xAxis: {
              type: 'category',
              boundaryGap: false,
              data: [<%- generate_posts_series_x(page.year) %>]
          },
          yAxis: {
              name: '投稿数',
              type: 'value',
              min:0,
              max: <%= max_posts(page.year) %>
          },
          series: [
              {
                  name: '投稿数',
                  type: 'line',
                  data: [<%= generate_posts_series_y(page.year) %>]
              }
          ]
        };
        myChart.setOption(option);
      </script>
    </div>
    <ul class="summary">
      <% const summary = summary_yearly_term(page.year); %>
      <li><span class="summary-count"><%= count_articles_year(page.year) %></span><br><span class="summary-label">投稿</span></li>
      <li><span class="summary-count"><%= summary.total %></span><br><span class="summary-label">総シェア数</span></li>
      <li><span class="summary-count"><%= summary.twitter %></span><br><span class="summary-label">Twitter</span></li>
      <li><span class="summary-count"><%= summary.facebook %></span><br><span class="summary-label">Facebook</span></li>
      <li><span class="summary-count"><%= summary.hatebu %></span><br><span class="summary-label">はてブ</span></li>
      <li><span class="summary-count"><%= summary.pocket %></span><br><span class="summary-label">Pocket</span></li>
    </ul>
    <% } else { %>
    <h1 class="list-page">すべての記事</h1>
    <section class="archives">
    <%
      const trans = (str, path=page.path) => {
      if (path.indexOf(str) > 0) {
        return `<span class="archive-list-current">${str}</span>`;
      }
      return str;
      }
    %>
    <%- list_archives({format: "YYYY", type:"yearly", transform:trans}) %>

    <ul class="summary">
      <li><span class="summary-count">平均<%= ave_posts(page.year) %></span><br><span class="summary-label">投稿/四半期</span></li>
    </ul>
    <div>
      <div id="chart" style="width:95%;min-height:250px"></div>
      <script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts.min.js" integrity="sha384-QqZssazD9IzPiEJz2lyFewTMgYObqDWxBfCX5k5E4n4fH7ygMIqp6A6Ek8HIrRyQ" crossorigin="anonymous"></script>
      <script type="text/javascript">
        let myChart = echarts.init(document.getElementById('chart'));
        let option = {
          tooltip: {
              trigger: 'axis'
          },
          xAxis: {
              type: 'category',
              boundaryGap: false,
              data: [<%- generate_posts_series_x() %>]
          },
          yAxis: {
              name: '投稿数',
              type: 'value',
              min:0,
              max: <%= max_posts() %>
          },
          series: [
              {
                  name: '投稿数',
                  type: 'line',
                  data: [<%= generate_posts_series_y() %>]
              }
          ]
        };
        myChart.setOption(option);
      </script>
    </div>

    <ul class="summary">
      <% const summary = summary_all_term(); %>
      <li><span class="summary-count"><%= count_articles() %></span><br><span class="summary-label">投稿</span></li>
      <li><span class="summary-count"><%= summary.total %></span><br><span class="summary-label">総シェア数</span></li>
      <li><span class="summary-count"><%= summary.twitter %></span><br><span class="summary-label">Twitter</span></li>
      <li><span class="summary-count"><%= summary.facebook %></span><br><span class="summary-label">Facebook</span></li>
      <li><span class="summary-count"><%= summary.hatebu %></span><br><span class="summary-label">はてブ</span></li>
      <li><span class="summary-count"><%= summary.pocket %></span><br><span class="summary-label">Pocket</span></li>
    </ul>
    <% } %>
    <%- partial('_partial/archive-all', {pagination: config.archive}) %>
  </div>
</div>
