<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Authors</li>
  </ul>
  <section id="main" class="margin-top-30">
    <div>
      <div id="chart" style="width:95%;min-height:250px"></div>
      <script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts.min.js"></script>
      <script type="text/javascript">
        let myChart = echarts.init(document.getElementById('chart'));
        let option = {
          title: {
              text: '年別著者数'
          },
          tooltip: {
              trigger: 'axis'
          },
          grid: {},
          toolbox: {},
          xAxis: {
              type: 'category',
              boundaryGap: false,
              data: [<%= generate_yearly_authors_series_x() %>]
          },
          yAxis: {
              type: 'value',
              min:0,
              max: <%= max_yearly_authors() %>
          },
          series: [
              {
                  name: '著者数（UU）',
                  type: 'line',
                  data: [<%= generate_yearly_authors_series_y() %>]
              }
          ]
        };
        myChart.setOption(option);
      </script>
      <h2 class="list-page"><%= date(new Date(), 'YYYY') %>年の執筆者</h2>
      <ul class="summary">
        <li><span class="summary-count"><%= count_authors(date(new Date(), 'YYYY')) %></span><br><span class="summary-label">人</span></li>
        <li><span class="summary-count"><%= count_articles_year(date(new Date(), 'YYYY')) %></span><br><span class="summary-label">投稿</span></li>
      </ul>
      <%- list_authors(date(new Date(), 'YYYY')) %>
      <%
        const lastYear = new Date();
        lastYear.setFullYear(lastYear.getFullYear() - 1);
      %>
      <h2 class="list-page"><%= date(lastYear, 'YYYY') %>年の執筆者</h2>
      <ul class="summary">
        <li><span class="summary-count"><%= count_authors(date(lastYear, 'YYYY')) %></span><br><span class="summary-label">人</span></li>
        <li><span class="summary-count"><%= count_articles_year(date(lastYear, 'YYYY')) %></span><br><span class="summary-label">投稿</span></li>
      </ul>
      <%- list_authors(date(lastYear, 'YYYY')) %>
      <%
      const ago2Year = new Date();
      ago2Year.setFullYear(ago2Year.getFullYear() - 2);
      %>
      <h2 class="list-page"><%= date(ago2Year, 'YYYY') %>年の執筆者</h2>
      <ul class="summary">
        <li><span class="summary-count"><%= count_authors(date(ago2Year, 'YYYY')) %></span><br><span class="summary-label">人</span></li>
        <li><span class="summary-count"><%= count_articles_year(date(ago2Year, 'YYYY')) %></span><br><span class="summary-label">投稿</span></li>
      </ul>
      <%- list_authors(date(ago2Year, 'YYYY')) %>
      <%
      const ago3Year = new Date();
      ago3Year.setFullYear(ago3Year.getFullYear() - 3);
      %>
      <h2 class="list-page"><%= date(ago3Year, 'YYYY') %>年の執筆者</h2>
      <ul class="summary">
        <li><span class="summary-count"><%= count_authors(date(ago3Year, 'YYYY')) %></span><br><span class="summary-label">人</span></li>
        <li><span class="summary-count"><%= count_articles_year(date(ago3Year, 'YYYY')) %></span><br><span class="summary-label">投稿</span></li>
      </ul>
      <%- list_authors(date(ago3Year, 'YYYY')) %>

      <h2 class="list-page margin-top-50">全期間の執筆者</h2>
      <ul class="summary">
        <li><span class="summary-count"><%= count_authors() %></span><br><span class="summary-label">人</span></li>
        <li><span class="summary-count"><%= count_articles() %></span><br><span class="summary-label">投稿</span></li>
      </ul>
      <%- list_authors() %>
    </div>
  </section>
</div>
