<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tags">Tags</a></li>
    <li class="active"><%- page.tag %></li>
  </ul>
  <section id="main" class="margin-top-30">
    <h1 class="list-page"><%- page.tag %> <span class="list-sub-text">タグの記事</span></h1>
    <% const summary = summary_tag(page.tag); %>
    <ul class="summary">
      <li><span class="summary-count"><%= count_tag(page.tag) %></span><br><span class="summary-label">投稿</span></li>
      <li><span class="summary-count"><%= summary.authors %></span><br><span class="summary-label">著者数</span></li>
      <li><span class="summary-count"><%= summary.total %></span><br><span class="summary-label">総シェア数</span></li>
      <li><span class="summary-count"><%= summary.twitter %></span><br><span class="summary-label">Twitter</span></li>
      <li><span class="summary-count"><%= summary.facebook %></span><br><span class="summary-label">Facebook</span></li>
      <li><span class="summary-count"><%= summary.hatebu %></span><br><span class="summary-label">はてブ</span></li>
      <li><span class="summary-count"><%= summary.pocket %></span><br><span class="summary-label">Pocket</span></li>
    </ul>
    <%- partial('_partial/archive', {pagination: config.tag, index: true}) %>
  </section>
</div>

